<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="\css\style.css">
	<link rel="stylesheet" href="\css\style2.css">
	<script src="https://kit.fontawesome.com/8a4a5c1b8f.js" crossorigin="anonymous"></script>
	<meta charset="UTF-8">
	<title>Result</title>
</head>

<body>
	<div class="main">
	<div class="person-list-body">
		<div class="menu-header">
	<h2 class="menu-title">My Cart</h2>
</div>
	<div th:unless="${#lists.isEmpty(persons)}">
		<table class="box">
			<tr>
				<th></th>
				<th>Product</th>
				<th>Price</th>
			</tr>
			<tr th:each="p : ${persons}">
				<td><a th:href="'/delete/' + ${p.id}"><img src="/img/delete.png" width="20"></a></td>
				<td th:text="${p.pName}"></td>
				<td th:text="${p.Price}"></td>
			</tr>
		</table>
	</div>
	
	<div th:if="${#lists.isEmpty(persons)}">
		<p class="small-italic">No data found.</p>
	</div>
	<form action="/send-order" method="post" th:object="${order}">
		<button type="submit" class="cart-btn">Confirm the order <i class="fa-sharp fa-solid fa-bag-shopping"></i></button>
	</form>
	<p>Or add order (Go to menu). <a href="\index.html">here</a>.</p>	
</div>
</div>
</body>

</html>