<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="\css\style.css">
	<meta charset="UTF-8">
	<title>Result</title>
</head>

<body>
	<h2>Admin View</h2>
	<p>Waiting Orders:</p>
	<div th:unless="${#lists.isEmpty(orders)}">
		<table class="box">
			<tr>
				<th></th>
				<th></th>
				<th>Product</th>
				<th>Price</th>
                <th>Masa</th>
			</tr>
			<tr th:each="o : ${orders}">
				<td><a th:href="'/delete/' + ${o.id}"><img src="/img/delete.png" width="20"></a></td>
				<td th:text="${o.id}"></td>
				<td th:text="${o.firstName}"></td>
				<td th:text="${o.Price}"></td>
                <td th:text="${o.masaNo}"></td>
			</tr>
		</table>
	</div>
	
	<div th:if="${#lists.isEmpty(orders)}">
		<p class="small-italic">No data found.</p>
	</div>
</body>

</html>